# 수 자료형

In [2]:
# 양의 정수
a = 1000
print(a)

# 음의 정수
a = -7
print(a)

# 0
a = 0
print(a)

1000
-7
0

In [4]:
# 양의 실수
a = 157.93
print(a)

# 음의 실수
a = -1837.2
print(a)

# 소수부가 0일 때 0을 생략
a = 5.
print(a)

# 정수부가 0일 때 0을 생략
a = -.7
print(a)

157.93
-1837.2
5.0
-0.7

In [6]:
# 10억의 지수 표현 방식
a = 1e9
print(a)

# 752.5
a = 75.25e1
print(a)

# 3.954
a = 3954e-3
print(a)

1000000000.0
752.5
3.954

In [4]:
a = 0.3 + 0.6
print(a)

# 소수점 값 비교는 round() 함수를 이용하여야 한다.
if a == 0.9:
    print(True)
else:
    print(False)

0.8999999999999999
False

In [6]:
a = 0.3 + 0.6
print(round(a, 4));

# round (a, 4)를 하면 소수점 다섯째 자리에서 반올림한다.
if round(a, 4) == 0.9:
    print(True)
else:
    print(False)

0.9
True

In [7]:
a = 7
b = 3

# 나누기
print(a / b)

# 나머지
print(a % b)

# 몫
print(a // b)

2.3333333333333335
1
2

In [8]:
a = 5
b = 3
print(a ** b)

125

# 리스트 자료형

In [9]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a)

# 인덱스 4, 즉 다섯 번째 원소에 접근
print(a[4])

# 빈 리스트 선언 방법 1
a = list()
print(a)

# 빈 리스트 선언 방법 2
a = []
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
5
[]
[]

In [10]:
# 크기가 N이고, 모든 값이 0인 1차원 리스트 초기화
n = 10
a = [0] * n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [11]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# 뒤에서 첫 번째 원소 출력
print(a[-1])

# 뒤에서 세 번째 원소 출력
print(a[-3])

# 네 번째 언소 값 변경
a[3] = 7
print(a)

9
7
[1, 2, 3, 7, 5, 6, 7, 8, 9]

In [12]:
a = [1,2,3,4,5,6,7,8,9]

# 두 번째 원소부터 네 번째 원소가지
print(a[1 : 4])

[2, 3, 4]

In [14]:
# 0부터 19까지의 수 중에서 홀수만 포함하는 리스트
array = [i for i in range(20) if i % 2 == 1]

print(array)

# 같은 코드
array = []
for i in range(20):
    if i % 2 == 1:
        array.append(i)
        
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [15]:
# 1부터 0까지의 수의 제곱 값을 포함하는 리스트
array = [i * i for i in range(1, 10)]
print(array)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
# N X M 크기의 2차원 리스트 초기화
n = 3
m = 4
array = [[0] * m for _ in range(n)] # 리스트 컴프리헨션 초기화 방법
array[1][1] = 5
print(array)

[[0, 0, 0, 0], [0, 5, 0, 0], [0, 0, 0, 0]]

In [20]:
# N X M 크기의 2차원 리스트 초기화 (잘못된 방법)
n = 3
m = 4
array = [[0] * m] * n
print(array)

array[1][1] = 5
print(array)
# array[0, 1, 2][1] 에 대하여 모두 같은 레퍼런스로 인식한다.
print(array[0][1])
print(array[1][1])
print(array[2][1])
# 2차원 리스트를 초기화할 때에는 리스트 컴프리헨션을 이용해야 한다.

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 5, 0, 0], [0, 5, 0, 0], [0, 5, 0, 0]]
5
5
5

In [28]:
a = [1, 4, 3]
print("기본 리스트: ", a)

# 리스트에 원소 삽입
a.append(2)
print("삽입: ", a)

# 오름차순 정렬
a.sort()
print("오름차순 정렬: ", a)

# 내림차순 정렬
a.sort(reverse = True)
print("내림차순 정렬: ", a)

# 리스트 원소 뒤집기
a.reverse()
print("원소 뒤집기: ", a)

# 특정 인덱스에 데이터 추가
a.insert(2, 3)
print("인덱스 2에 3 추가: ", a)

#특정 값인 데이터 개수 세기
print("값이 3인 데이터 개수: ", a.count(3))

#특정 값 데이터 삭제
a.remove(1)
print("값이 1인 데이터 삭제: ", a)

a.remove(3)
print("1개 이상의 값중 1개 삭제 : ", a)

print("갯수가 0개일때 : ", a.count(9))

기본 리스트:  [1, 4, 3]
삽입:  [1, 4, 3, 2]
오름차순 정렬:  [1, 2, 3, 4]
내림차순 정렬:  [4, 3, 2, 1]
원소 뒤집기:  [1, 2, 3, 4]
인덱스 2에 3 추가:  [1, 2, 3, 3, 4]
값이 3인 데이터 개수:  2
값이 1인 데이터 삭제:  [2, 3, 3, 4]
1개 이상의 값중 1개 삭제 :  [2, 3, 4]
갯수가 0개일때 :  0

In [30]:
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = {3, 5}

# remove_set에 포함되지 않은 값만을 저장
result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

# 문자열 자료형

In [32]:
data = 'Hello World'
print(data)

data = "Don't you know \"Python\"?"
print(data)

Hello World
Don't you know "Python"?

In [34]:
a = "Hello"
b = "World"
print(a + " " + b)

Hello World

In [35]:
a = "String"
print(a * 3)

StringStringString

In [36]:
a = "ABCDEF"
print(a[2 : 4])

CD

# 튜플 자료형

In [38]:
a = (1, 2, 3, 4)
print(a)

# 튜플 자료형은 한 번 선언된 값을 변경할 수 없다.
# 튜플 자료형은 대괄호 대신 소괄호를 이용한다.
a[2] = 7

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

# 사전 자료형

In [39]:
# 해시 테이블을 이용한다.
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

print(data)

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}

In [40]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

if '사과' in data:
    print("'사과'를 키로 가지는 데이터가 존재합니다.")

'사과'를 키로 가지는 데이터가 존재합니다.

In [47]:
#사전 자료형 관련 함수
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

# 키 데이터만 담은 리스트
key_list = data.keys()
# 값 데이터만 담은 리스트
value_list = data.values()
print(key_list)
print(value_list)

# 각 키에 따른 값을 하나씩 출력
for key in key_list:
    print(data[key])

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
Apple
Banana
Coconut

# 집합 자료형

In [50]:
# 집합 자료형 특징 : 중복을 허용하지 않는다, 순서가 없다.

# 집합 자료형 초기화 방법 1
data = set([1, 1, 2, 3, 4, 5, 5])
print(data)

# 집합 자료형 초기화 방법 2
data = {1, 1, 2, 3, 4, 4, 5}
print(data)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [52]:
# 집합 자료형의 연산
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])

print(a | b) # 합집합
print(a & b) # 교집합
print(a - b) # 차집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

In [53]:
# 집합 자료형 관련 함수
data = set([1, 2, 3])
print(data)

# 새로운 원소 추가
data.add(4)
print(data)

# 새로운 원소 여러 개 추가
data.update([5, 6])
print(data)

# 특정한 값을 갖는 원소 삭제
data.remove(3)
print(data)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

# 조건문

In [54]:
score = 85

if score >= 90:
    print("학점 : A")
elif score >= 80:
    print("학점 : B")
elif score >= 70:
    print("학점 : C")
else:
    print("학점: F")

학점 : B

In [57]:
score = 99

if score >= 70:
    print("성적이 70점 이상입니다.")
    if score >= 90:
        print("우수한 성적입니다.")
else:
    print("성적이 70점 미만입니다.")
    print("조금 더 분발하세요.")
    
print("프로그램을 종료합니다.")

성적이 70점 이상입니다.
우수한 성적입니다.
프로그램을 종료합니다.

In [58]:
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = {3, 5}

result = []
for i in a:
    if i not in remove_set:
        result.append(i)
        
print(result)

[1, 2, 4]

In [59]:
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = {3, 5}

result = [i for i in a if i not in remove_set]

print(result)

[1, 2, 4]

# 반복문

In [60]:
i = 1
result = 0

# i가 9보다 작거나 같을 때 아래 코드를 반복적으로 실행
while i <= 9:
    result += i
    i += 1

print(result)

45

In [61]:
i = 1
result = 0

# i가 9보다 작거나 같을 때 아래 코드를 반복적으로 실행
while i <= 9:
    if i % 2 == 1:
        result += i
    i += 1

print(result)

25

In [62]:
result = 0

# i는 1부터 9까지의 모든 값을 순회
for i in range(1, 10):     # range(시작 값, 끝 값 + 1) 형태로 쓰인다.
    result += i
    
print(result)

45

In [63]:
scores = [90, 85, 77, 65, 97]

for i in range(5):
    if scores[i] >= 80:
        print(i + 1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
2 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [66]:
scores = [90, 85, 77, 65, 97]
cheating_list = {2, 4}

for i in range(5):
    if i + 1 in cheating_list:
        continue
    if scores[i] >= 80:
        print(i + 1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [68]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i, "X", j, "=", i * j)
        print()

2 X 1 = 2

2 X 2 = 4

2 X 3 = 6

2 X 4 = 8

2 X 5 = 10

2 X 6 = 12

2 X 7 = 14

2 X 8 = 16

2 X 9 = 18

3 X 1 = 3

3 X 2 = 6

3 X 3 = 9

3 X 4 = 12

3 X 5 = 15

3 X 6 = 18

3 X 7 = 21

3 X 8 = 24

3 X 9 = 27

4 X 1 = 4

4 X 2 = 8

4 X 3 = 12

4 X 4 = 16

4 X 5 = 20

4 X 6 = 24

4 X 7 = 28

4 X 8 = 32

4 X 9 = 36

5 X 1 = 5

5 X 2 = 10

5 X 3 = 15

5 X 4 = 20

5 X 5 = 25

5 X 6 = 30

5 X 7 = 35

5 X 8 = 40

5 X 9 = 45

6 X 1 = 6

6 X 2 = 12

6 X 3 = 18

6 X 4 = 24

6 X 5 = 30

6 X 6 = 36

6 X 7 = 42

6 X 8 = 48

6 X 9 = 54

7 X 1 = 7

7 X 2 = 14

7 X 3 = 21

7 X 4 = 28

7 X 5 = 35

7 X 6 = 42

7 X 7 = 49

7 X 8 = 56

7 X 9 = 63

8 X 1 = 8

8 X 2 = 16

8 X 3 = 24

8 X 4 = 32

8 X 5 = 40

8 X 6 = 48

8 X 7 = 56

8 X 8 = 64

8 X 9 = 72

9 X 1 = 9

9 X 2 = 18

9 X 3 = 27

9 X 4 = 36

9 X 5 = 45

9 X 6 = 54

9 X 7 = 63

9 X 8 = 72

9 X 9 = 81

# 함수

In [78]:
def add(a, b):
    return a + b

print(add(3, 7))

10

In [80]:
# Jupyter Notebook Cell을 벗어나도 정의된 함수는 호출하여 사용할 수 있다.
print(add(3, 7))

10

In [81]:
def add(a, b):
    print('함수의 결과:', a + b)
add(3,7)

함수의 결과: 10

In [82]:
# 함수가 재정의 된 경우 마지막에 실행하여 정의된 함수를 사용한다.
print(add(3,7))

함수의 결과: 10
None

In [86]:
def minus(a, b):
    print('함수의 결과:', a - b)

minus(b = 3, a = 7)

함수의 결과: 4

In [90]:
a = 0
def func():
    global a
    a += 1

for i in range(10):
    func()
    
print(a)

10

In [95]:
print((lambda a, b: a + b)(3, 7))
c = (lambda a, b: a - b)(1,2)
print(c)

10
-1

# 입출력

In [97]:
# 데이터의 개수 입력
n = int(input())
# 각 데이터를 공백으로 구분하여 입력
data = list(map(int, input().split()))

data.sort(reverse = True)
print(data)

5
65 90 75 34 99
[99, 90, 75, 65, 34]

In [98]:
# n, m, k를 공백으로 구분하여 입력
n, m, k = map(int, input().split())

print(n, m, k)

3 5 7
3 5 7

In [108]:
import sys

# 문자열 입력받기
data = sys.stdin.readline().rstrip()
print(data)

In [109]:
# 변수 출력
a = 1
b = 2

print(a, b)

print(a)
print(b)

1 2
1
2

In [111]:
# 출력 시 오류가 발생하는 소스코드 예시
answer = 7

print("정답은 " + answer + "입니다.")

TypeError: can only concatenate str (not "int") to str

In [ ]:
answer = 7

print("정답은 " + answer + "입니다.")